body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.hero-section {
    height: 100vh;
}

.ai-font {
    font-family: 'Courier New', Courier, monospace;
}

.ai-font-p {
    font-size: 1.3rem;
}

.sm-text {
    font-size: 0.9rem;
}

.d-flex {
    padding-left: 10px;
}

.btn-warning {
    background-color: #832b59 !important;
    color: #f2f2f2 !important;
    border-color: #832b59 !important;
}

.btn-outline-warning{
    border-color: #832b59 !important;
    color: #832b59 !important;
}

.btn-outline-warning:hover{
    background-color: #832b59 !important;
    color: #f2f2f2 !important;
    border-color: #832b59 !important;
}

.btn-warning:hover {
    background-color: #7d8f9c;
    color: #000000;
    border-color: #7d8f9c;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3rem 0;
}

.gradient-bg {
    background-color: #f2f2f2;
    background-image: radial-gradient(circle farthest-corner at center, #14213d 0%, #f2f2f2 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container img {
    width: 100vh;
    height: auto;
}

.navbar {
    position: relative;
    z-index: 10;
}

#threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.box {
    height: 100px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.first-row, .third-row {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.second-row, .fourth-row {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.service_title {
    font-size: 5em;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}

.navbar-brand-white {
    color: white;
}

.scroll-button {
    background-color: #04132D;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: #184361;
}

.order-lg-0 {
    text-align: start;
}

#button_contact_us {
    display: none;
    position: relative;
    opacity: 0;
    top: -50px; /* Initial position off the screen */
}

footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
}

footer .nav-link {
    color: #6c757d;
}

footer .nav-link:hover {
    color: #0A1022;
}

footer p {
    color: #6c757d;
}

/* 
.mt-auto{
    width: 50%;
    align-self : center;
} */

.navbar-brand img {
    max-width: 3vw;
    width: 100%;
}

.card {
    border-color: #7d8f9c;
}

.fade-in {
    opacity: 0;
}

.collapse:not(.show) {
    display: none;
}

.accordion-button {
    background-color: transparent !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: transparent !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
    font-weight: bold;
}
.accordion-body {
    background-color: transparent !important;
    color: #ffffff;
}
.accordion-item {
    background-color: transparent !important;
    border-right: none !important;
    border-left: none !important;
}

#block_services {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('7951379690780.jpg');
    background-size: cover;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button::after {
    filter: invert(1);

}

.block_contact {
    padding-top: 10%;
}